/vendor/
/app/config/config.php
/app/config/config - Copy.php
/config.php
/config - Copy.php
/storage/app.key
/storage/backups/
/public/uploads/*
!/public/uploads/.htaccess
/MGTM System Setup 1.0.0.exe